<footer class="footer">
  <app-news-letter class="newsletter"></app-news-letter>
  <div class="social"> socials</div>
  <div class="contact"> contact</div>
  <div class="about"> about</div>
  <div class="legal"> legal</div>
  <div class="conduct"> conduct</div>
</footer>
<!--<mat-card>-->
<!--  <mat-card-actions>-->
<!--    <button mat-raised-button color="primary">-->
<!--      Subscribe to newsletter-->
<!--    </button>-->
<!--  </mat-card-actions>-->
<!--  <mat-card-content>-->
<!--    <h3>These are the values to which people in our community should aspire.</h3>-->
<!--    <mat-list>-->
<!--      <mat-list-item>Be friendly and welcoming </mat-list-item>-->
<!--      <mat-list-item>Be Patient</mat-list-item>-->
<!--      <mat-list-item>Be thoughtful</mat-list-item>-->
<!--      <mat-list-item>Be Respectful</mat-list-item>-->
<!--      <mat-list-item>Be charitable</mat-list-item>-->
<!--      <mat-list-item>Avoid destructive behavior</mat-list-item>-->
<!--    </mat-list>-->
<!--  </mat-card-content>-->


<!--  <mat-card-content>-->
<!--    <p>-->
<!--      Bridge The Gap In Tech is dedicated to providing a safe, inclusive, welcoming and harassment-free space and-->
<!--      experience for all community participants, regardless of sex,disability, physical appearance, age, body size,-->
<!--      race, immigration status, social and economic class, educational level, or nationality. We do not tolerate-->
<!--      harassment of community members in any form. Participants violating these rules may be sanctioned or expelled from-->
<!--      the community the discretion of the organizers.Harassment includes offensive verbal or written comments related-->
<!--      to gender, disability, physical appearance, age, body size, race, nationality or religious beliefs, deliberate-->
<!--      intimidation, threats,stalking, following, harassing, photography or recording, sustained disruption of talks or-->
<!--      other events, inappropriate physical contact, and unwelcome sexual attention.Sexual language and imagery is not-->
<!--      appropriate for any of our events or communication channels. Community members asked to stop any harassing behavior-->
<!--      are expected to comply immediately.If a community member engages in a harassing behavior, the organizers may take-->
<!--      any action they deem appropriate, including warning the offender, expulsion from the community, and/or removal from-->
<!--      an event. If you are being harassed, notice that someone else is being harassed,or have any other concerns, please-->
<!--      contact organizers through the [contact form here](link to contact) immediately, or as soon as you feel comfortable-->
<!--      doing so.-->
<!--    </p>-->
<!--  </mat-card-content>-->
<!--</mat-card>-->
