<mat-divider></mat-divider>
<section class="landing-page-section-1">
  <div class="typewriter-container">
    <div class="typewriter">
      <h1>Welcome to Hana Codes...</h1>
    </div>
  </div>
</section>
<section class="landing-page-section-2">
  <article>
    <h1 class="title">We provide Inclusive tech events</h1>
    <h2> simply Bridging the Gap </h2>
    <p>Think of us as your supportive digital family in Tech. We are here to help you achieve your tech career goals,
      through training, programs, outreach and access to our community. We aim to increase the amount of people of
      colour in Tech throughout the UK + Abroad. </p>
  </article>
  <app-join-us></app-join-us>
</section>
<section class="landing-page-section-2">
  <mat-divider></mat-divider>
  <h1 class="title"> Meet Up </h1>
  <app-meetup-group></app-meetup-group>
</section>
<ng-container>
  <mat-divider></mat-divider>
  <app-team></app-team>
</ng-container>
